.Q2RPoHcoxygOoPLXLMww {
  display: flex !important;
  flex-direction: column !important;
  align-items: left !important;
  background: white !important;
}

.esRByMgBY3TiENAsbDHA {
  font-size: 23px !important;
  text-align: left !important;
}
